/* Google font: Nova Round */

@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

/*  Use this font as default */
body {
  font-family: "Nova Round", cursive;
  text-align: left;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.skirting-top {
  grid-area: skirting-top;
  background-color: #14274e;
  border-radius: 10px 10px 0px 0px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 0px 0px;
  background-color: #394867;
}
.header-image {
  grid-area: header-image;
  background-color: #9ba4b4;
  border-style: solid;
  border-width: 0px;
}

.nav-breadcrumbs {
  grid-area: header-image;
  align-self: end;
  justify-self: stretch;
  background-color: #9ba4b4;
  opacity: 0.75;
  margin: 0px;
  padding: 10px;
}

.nav-main {
  grid-area: nav-main;
}

.main {
  grid-area: main;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  background-color: #14274e;
  padding-bottom: 20px;
}

.nav-footer {
  grid-area: nav-footer;
  display: flex;
  justify-content: center;
  background-color: #9ba4b4;
}

.footer {
  grid-area: footer;
  display: flex;
  background-color: #394867;
  padding: 15px;
  justify-content: center;
}

.skirting-bottom {
  grid-area: skirting-bottom;
  background-color: #14274e;
  border-radius: 0px 0px 10px 10px;
}

.App__dark {
  text-align: center;
  background-color: black;
  color: white;
}

.App__light {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  grid-template-columns: minmax(250px, 100%);
  grid-template-rows: 30px auto auto auto 1fr auto auto 30px;
  grid-template-areas:
    "skirting-top"
    "header"
    "header-image"
    "nav-main"
    "main"
    "nav-footer"
    "footer"
    "skirting-bottom";
}

@media only screen and (min-width: 600px) {
  .App__light {
    width: 100%;
    grid-template-columns: minmax(50px, auto) minmax(500px, 100%) minmax(50px, auto);
    grid-template-rows: 30px auto auto auto 1fr auto auto 30px;
    grid-template-areas:
      ". skirting-top ."
      ". header ."
      ". header-image ."
      ". nav-main ."
      ". main ."
      " . nav-footer ."
      ". footer ."
      ". skirting-bottom .";
  }
}

.header-logo {
  padding-left: 10px;
  font-family: "Nova Round", cursive;
  font-size: 40px;
  text-shadow: 3px 3px 0px rgb(113, 173, 212);
  color: white;
}

.header-icons {
  padding: 10px 15px 0px 0px;
}

.breadcrumb,
.breadcrumb:last-child {
  color: #00ff00;
}

/* Navigation Bar Example */

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0px 0px 0px 0px;
  background: #394867;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 0.75em;
  color: white;
}

.navigation a:hover {
  background: #14274e;
}

@media all and (max-width: 600px) {
  .navigation {
    justify-content: flex-start;
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.about {
  padding: 20px;
}

.article-add-toggle,
.topic-add-toggle {
  background-color: #14274e;
  border: none;
}

.article-add,
.topic-add {
  margin: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.article-add label,
.topic-add label {
  display: inline-block;
  vertical-align: center;
  width: 75px;
}

.article-add label[for="body"],
.topic-add label[for="body"] {
  vertical-align: top;
}

.article-add input,
.topic-add input {
  color: white;
  width: 200px;
  border-radius: 5px 5px 5px 5px;
  background-color: transparent;
  border: 1px solid;
  margin: 5px;
  padding: 10px;
}

.article-add textarea,
.topic-add textarea {
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 5px 5px 5px 5px;
  background-color: transparent;
  border: 1px solid;
  margin: 5px;
  padding: 10px;
}

.article-add select,
.topic-add select {
  color: white;
  width: 220px;
  border-radius: 5px 5px 5px 5px;
  background-color: transparent;
  border: 1px solid;
  margin: 5px;
  padding: 10px;
}

.article-add button,
.topic-add button {
  background-color: #9ba4b4;
  border: none;
  border-radius: 3px 3px 3px 3px;
  margin: 20px 10px 10px 0px;
  padding: 5px;
}

.sort-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  border-radius: 0px 0px 0px 0px;
}

.sort-nav span {
  color: white;
}

.sort-nav select {
  color: white;
  border-radius: 5px 5px 5px 5px;
  background-color: transparent;
  margin: 5px;
  padding: 5px;
}

.pagination {
  padding: 2px 0 0 0;
  margin-right: 10px;
  background-color: white;
  opacity: 0.75;
  border-radius: 10px 10px 10px 10px;
  border: 1px dotted black;
}
/* Flex Container Example */

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  width: 250px;
  background-color: #394867;
  border-radius: 10px 10px 10px 10px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

@media all and (max-width: 600px) {
  .flex-item {
    width: auto;
  }
}

.flex-item img {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #394867;
}

.flex-item h3 {
  text-align: center;
  background-color: #394867;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 10px 0px 0px;
  margin: 0;
}

.flex-item a {
  text-decoration: none;
  color: white;
}

.flex-item p {
  background-color: #394867;
  padding: 5px;
  margin: 0px;
  border-radius: 0px 0px 10px 10px;
}

.flex-item button {
  background-color: #394867;
  border: none;
}

/*  UserSingle Component */

.userProfile img {
  display: inline-block;
  vertical-align: center;
  width: 50px;
  border-radius: 50%;
  margin: 20px 20px 0px 20px;
}

.userProfile h2 {
  display: inline-block;
  vertical-align: center;
}

/* ArticleSingle Component */

.article-single {
  color: #9ba4b4;
  background-color: #394867;
  padding: 10px;
  margin: 10px 10px 0px 10px;
  border-radius: 10px 10px 10px 10px;
}

.article-single h2 {
  border-bottom: 1px solid;
  margin-bottom: 5px;
}

.article-single ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.votes button {
  background-color: #9ba4b4;
  border: none;
  border-radius: 3px 3px 3px 3px;
  margin: 10px;
}

.votes button[disabled] {
  background-color: #9ba4b4;
  opacity: 0.5;
  border: none;
  border-radius: 3px 3px 3px 3px;
  margin: 10px;
}

.article-single button {
  background-color: #9ba4b4;
  border: none;
  border-radius: 3px 3px 3px 3px;
  margin: 10px;
}

.article-single button[disabled] {
  background-color: #9ba4b4;
  opacity: 0.5;
  border: none;
  border-radius: 3px 3px 3px 3px;
  margin: 10px;
}

.comments-list,
.user-articles,
.user-comments {
  color: #9ba4b4;
  background-color: #394867;
  padding: 10px;
  margin: 10px 10px 0px 10px;
  border-radius: 10px 10px 10px 10px;
}

.comments-list ul,
.user-articles ul,
.user-comments ul {
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  list-style: none;
  margin: 5px;
  padding: 0px;
}

.comments-list li,
.user-articles li,
.user-comments li {
  padding: 5px;
  list-style: none;
}

.comments-list button,
.user-articles button,
.user-comments button {
  color: white;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px 5px 5px 5px;
  margin: 10px;
  padding: 10px;
}

.comments-list button[disabled] {
  background-color: #9ba4b4;
  opacity: 0.5;
  border: none;
  border-radius: 3px 3px 3px 3px;
  margin: 10px;
}

.comments-list textarea {
  background-color: #9ba4b4;
  border: none;
  border-radius: 3px 3px 3px 3px;
  width: 75%;
  margin: 10px;
}

.comment-add button {
  background-color: #9ba4b4;
  border: none;
  border-radius: 3px 3px 3px 3px;
  margin: 10px;
}

.comment-add button[disabled] {
  background-color: #9ba4b4;
  opacity: 0.5;
  border: none;
  border-radius: 3px 3px 3px 3px;
  margin: 10px;
}

.header-icons button {
  background-color: #394867;
  border: none;
  margin: 5px 5px 5px 5px;
}

.header-icons img {
  border-radius: 50%;
}

/* Form styles from authenitcation course */

.instructions {
  border-radius: 0.5rem;
  background: #14274e;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
